#reader {
  width: 50%;
  height: 40%;
}

#reader__scan_region {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  padding: 0.5em;
  background-image: url('/qr-code.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

#reader__scan_region img {
  display: none;
}

#reader__dashboard_section_csr > div button {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: #2563eb;
  opacity: 1 !important;
  text-transform: uppercase;
  color: white;
}
#reader__dashboard_section_csr > span button {
  padding: 0.4em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: #2563eb;
  opacity: 1 !important;
  text-transform: uppercase;
  color: white;
}
